<div>
    <p> Index page </p>
    <% @users.each do |user| %>
        <%= link_to user_path(user.id) do %>
            <div class='post-container'>
                <div class='post-img'>
                    <img src='https://i.pinimg.com/originals/73/16/f5/7316f550de9ca0045e3d8d98a5bb5e44.png' alt='post' >
                </div>
                <div class='post-wrapper'>
                    <h1> <%= user.name %> </h1>
                    <p> Number of posts: <%= user.posts_counter %> </p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>