<div class='post-comment-wrapper'>
    <div class='post-div'>
        <h4> <%= @post.title %> </h4>
        <p> <%= @post.text %> </p>
    </div>
    <div class='comment-div'>
        <% @post.comments.each do |comment| %>
        <p> <%= comment.author.name %>: <%= comment.text %> </p>
        <% end %>
    </div>
</div>
