
<div class='post-comment-wrapper'>
    <div class='post-div'>
        <h4> Post 1</h4>
        <p> lorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsumdeasdflorem ipsum deprocadi ips deasdflorem ipsum lorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsumdeasdflorem ipsum deprocadi ips deasdflorem ipsumlorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsumdeasdflorem ipsum deprocadi ips deasdflorem ipsumlorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsum deprocadi ips deasdflorem ipsumdeasdflorem ipsum deprocadi ips deasdflorem ipsum </p>
    </div>
    <div class='comment-div'>
        <p> Username: Comment 1 </p>
        <p> Username: Comment 2 </p>
        <p> Username: Comment 3 </p>
        <p> Username: Comment 5 </p>
        <p> Username: Comment 6 </p>
        <p> Username: Comment 7 </p>
        <p> Username: Comment 8 </p>
    </div>
</div>
